<html>
    <head>
        <title>
            contoh crdu user
        </title>
    </head>
    <body>
        <dir>
            <form action="/users/create" method="post">
                <label for="username">username</label>
                <input type="text" name="username" placeholder="username" id="username">

                <label for="email_address">email_address</label>
                <input type="email_address" name="email_address" placeholder="email_address" id="email_address">

                <label for="password"></label>
                <input type="password" name="password" placeholder="password" id="password">
                <button type="submit"> submit</button>
            </form>
        </dir>
    </body>
</html>